:root{
    --white: #fff;
    --black: #000;
    --dark: #4c4c4c;
    --grigio: #f2f2f2;
    --light: rgb(248, 248, 248);    
}
body{
    background-color: var(--light);
    font-family: 'Poppins', sans-serif;

}

.bcg-dark{
    background-color: var(--dark);
}

.p-font{
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.logo{
    
    height: 100px;
    width: 220px;
}

.nav-item {
    font-size: 18px;
    padding: 20px;
    
}


/* WELCOME PAGE */
.cover{
    background-image: url("/storage/media/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
}

.sezione-filtri{
    transform: translateY(-40%);
    background-color: white;
    width: 80%;
    height: 30vh;
    align-items: center;
    /* display:flex ; */
}

.title-last-recipe{
    font-weight: 400;
}

.card-recipe{
    padding: 20px;
    width: 100%;
    cursor: pointer;
}

.card-title{
    font-weight: 300;
}

/* REGISTER */
/* MODIFICARE BACKGROUND CON IMMAGINE FOOD */
.back-register{
    background-color:rgb(82, 121, 111) ;
}
.btn-reg{
    background-color:rgb(82, 121, 111) ;
    color: white;
}
.btn-reg:hover{
    transition: all 0.5s;
    background-color:white ;
    color: black;
}


/* LOGIN */
/* MODIFICARE BACKGROUND CON IMMAGINE FOOD */
.back-login{
    background-color: rgb(255, 180, 162);
    
}

.btn-log{
    background-color: rgb(255, 180, 162);
    color: white;
}

.btn-log:hover{
    transition: all 0.5s;
    background-color:white ;
    color: black;
}
